@import url(sanitize.css);

p {
  font-size: 14px;
  font-weight:normal ;
}

header {
  background-color:#d1d1d1;
}

.content h1 {
  font-size:1.5em;
  text-align:center;
  margin:0;
}

.content p {
  font-size:0.7em;
  text-weight:normal;
  text-align:center;
  margin:0;
}

.daily-report {
  background-color: #fff;
  margin:10px auto;
  border: 1px solid #d1d1d1;
  padding:15px;
}

input {
  border:none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  padding: 8px;
  width: 100%;
}

button {
  width:100%;
  background-color: #2096f3;
  color:#fff;
  padding: 15px;
  border:0;
  border-radius: 3px;
  box-shadow:0 0 8px rgba(0, 0, 0, .4);
}

.required {
  color: #f33;
  font-size: .9em;
  padding: 3px;
  background-color: #fee;
  font-weight: bold;
}

body {
  background-color: #fafafa;
}

label {
  display: block;
  margin-bottom: .5em;
}

.youtube {
  /* width="560" height="315"  20210616 昨日の学び　「youtubeの埋め込みはインラインでマークアップしている」*/
  width:320px;
  height:180px;
}

.yatta-youtube iframe {
  display:block;
  margin:0 auto;
}

.title {
  font-family:"YuGothic";
  color:#4847479e;
  font-size:0.7em;
}

.yatta-title {
  font-weight: bold;
  background-color:#DCDCDC;
  padding:3px;
  border-radius: 3px;
}

/* ol {
  list-style: inside;
} */

li {
  font-size:13px;
}

.yatta-output {

}

.kizuki-title {
  font-weight:bold;
  font-size:1em;
}


.mini-name {

}

.mini-name span {
  color:red;
}

.comment img {
  width:20px;
  height:auto;
}

/* codeの説明 <dl></dl> をする際のcss　<dl>は説明をするタグ */
.code {
  background-color:rgb(40,44,51) ;
  color:rgb(189,189,189);
  font-weight:normal ;
  margin-left:1.5em;
}

.youso {
  color:rgb(228,107,118);
}

.zokusei {
  color:rgb(211,154,110) ;
}

.src-dquo {
  color:rgb(149,195,130);
}

.link {
  color:rgb(77,183,193);
}

.import {
  color:rgb(201,122,215);
}

/* Folderの中身のディレクトリを表現 */
.folder {
  background-color:rgb(37,37,38);
  color:white;
}

.f-html {
  color:rgb(209,119,34);
}

.f-css {
  color:rgb(95,153,189);
}

@media all and (max-width: 670px) {

  .youtube {
    width: 100%;
    height: 100%;
  }

  .yatta {
    flex-direction:column;
  }

  .yatta-youtube {
    flex-direction:column;
  }

  /* .flex-list liにmarginを0 autoに指定してください */
  .yatta-youtube  p iframe  {
    margin:0 auto;
  }
